[submodule "ros2_ws/src/rplidar_ros"]
	path = ros2_ws/src/rplidar_ros
	url = https://github.com/youtalk/rplidar_ros.git
[submodule "ros2_ws/src/BreezySlam"]
	path = ros2_ws/src/BreezySlam
	url = https://github.com/vanstrn/BreezySLAM.git
[submodule "ros2_ws/src/raspicam2_node"]
	path = ros2_ws/src/raspicam2_node
	url = https://github.com/christianrauch/raspicam2_node.git
